/* start-header */
:root {
  --main-color: #232536;
  --bgc-button: #edc14a;
  --purple: #592ea9;
  --dark-grey: #4c4c4c;
  --medium-grey: #6d6e76;
  --light-gray: #f4f4f4;
  --levander: #f4f0f8;
  --light-yellov: #fbf6ea;
}
:root {
  --white: #ffffff;
}
:root {
  --display-size: 56px;
  --headingh1-size: 48px;
  --headingh2-size: 36px;
  --headingh3-size: 28px;
  --headingh4-size: 24px;
  --headingh5-size: 20px;
  --headingh6-size: 16px;
  --lebel-size-: 14px;
}
body {
  background-color: var(--light-gray);
}
.header-started {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-started-left {
  max-width: 624px;
  height: 326px;
  background-color: var(--white);
}
.header-started-left p {
  font-family: "Inter";
  font-style: normal;
  padding: 0px 20px;
  margin-top: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--main-color);
}
.header-started-left h2 {
  font-family: "Sen";
  padding: 0 15px;
  /* margin-top: -35px; */
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  /* margin-top: 70px; */
  line-height: 64px;
  letter-spacing: -2px;
  color: var(--main-color);
}
.header-started-right {
  max-width: 477px;
  height: 112px;
  padding-top: 40px;
}
.header-started-right p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--dark-grey);
}

@media (min-width: 1000px) {
  .header-started {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
  }
  .header-started-left {
    position: relative;
    left: 10%;
    max-width: 494px;
    height: 286px;
    padding-left: 20px;
  }
  .header-started-left p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--main-color);
  }
}
