@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Sen";
  src: url(../fonts/Sen-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
}
